* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    }
     
   
     
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
       
        width:100%;
        z-index:1000;
        padding: 1rem 2rem;
        background-color:black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }
    
    .logo .tata {
        color: white; /* Black color for Tata */
    }
    
    .logo .motors {
        color: #ff6f61; /* Red color for Motors */
    }
    
    
    .navbar {
        list-style: none;
        display: flex;
        gap: 2rem;
        margin: 0;
        padding: 0;
    }
    
    .navbar li {
        display: inline;
    }
    
    .navbar a,
    .navbar-button lightning-button {
        text-decoration: none;
        color:white;
        font-size: 1rem;
        transition: color 0.3s ease;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        font-family: inherit;
    }
   /* Override text color for lightning-button with variant="base" */


    
    .navbar-button lightning-button[variant="brand"]:hover {
        color: #ff6f61; /* Hover color */
    }
    
    
    .navbar a:hover,
    .navbar a.active,
    .navbar-button lightning-button:hover,
    .navbar-button lightning-button.active {
        color: #ff6f61;
    }
    

    
    .home {
        position: relative;
        height: 100vh; /* Adjust height as needed */
        overflow: hidden;
        color: #fff; /* Ensure text color contrasts with video */
    }
    
    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
    }
    
    .background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; /* Center text horizontally and vertically */
        background: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent overlay for better text readability */
    }
    
    .home-text {
        z-index: 1; /* Ensure text is above the video */
    }
    
    .home-text h1 {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    
    .home-text .para-text {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }
    
    .home-text .btn {
        display: inline-block;
        padding: 0.75rem 1.5rem;
        background-color: #ff6f61;
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .home-text .btn:hover {
        background-color: #e65b4f;
    }
    
     /* cars section */
     .cars {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        min-height: 500px;           /* Minimum height for the section */
        display: flex;                /* Use flexbox for centering content */
        justify-content: center;      /* Center content horizontally */
        align-items: center;          /* Center content vertically */
        flex-direction: column;       /* Arrange children elements in a column */
        padding: 2rem;                /* Add some padding */
        color: white;                 /* Text color for better readability on background */
    }
    
    .car-heading{
       margin-top: 30px;
        
    }
    
    .car-heading span {
        font-size: 1.2rem;
        font-weight: bold;
        font-size: 40px;
        color: #ff6f61;
       
    }
    
    .car-heading h2 {
        font-size: 20px;
        margin: 0.5rem 0;
        font-weight: bold;
        color:white;
    }
    
    .car-heading p {
        font-size: 1rem;
        color: #777;
   font-weight: bold;
    }
    /* General styling for the section */
.cars-container-wrapper {
    overflow: hidden; /* Hide horizontal overflow */
    width: 100%;
}

.cars-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px; /* Space between the cards */
    padding: 20px;
}

.car-card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 300px; /* Card width */
    position: relative;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modelname {
    padding: 10px;
}

.modelname h2 {
    top:90%;
    font-size: 1.2em;
    color:#000;
}

/* Hide scrollbar for all browsers */
.cars-container {
    scrollbar-width: none; /* Firefox */
}

.cars-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
    
     
    
    
   
 
     
    /* about section */
.about {
    position: relative;
    background: url('https://www.tatamotors.com/wp-content/themes/TataMotors/images/about-us-banner.webp') no-repeat center center/cover;
     color: white;  
    padding: 100px 20px;
    text-align: center;
    min-height:800px;
}

.about .about-container {
    position: relative;
    z-index: 2; /* Ensure text is above the background image */
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay for better text readability */
    z-index: 1;
}

.about-text {
    max-width: 800px;
    align-items: left;
    margin-top:30px;
    margin-left:15px;
}

.about-text span {
    display: block;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    color:red;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    
}

.about-text p {
    font-size: 18px;
    margin-bottom: 30px;
   
}


.about .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background: #ff5722; /* Accent color for button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.about .btn:hover {
    background: #e64a19; /* Darker shade on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .about-text h2 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 16px;
    }
}

    
     
    /* .parts {
        padding: 50px 0;
        background-color: #f9f9f9;
        text-align: center;
        margin-top:5px;
        min-height:800px;
    }
    
    .parts-heading {
        margin-bottom: 30px;
    }
    
    .parts-heading span {
        font-size: 18px;
        color: #333;
    }
    
    .parts-heading h2 {
        font-size: 36px;
        color: #333;
    }
    
    .parts-heading p {
        font-size: 16px;
        color: #666;
        margin-top: 20px;
    }
    
    .parts-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    .box {
        width: 30%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 30px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    
    .box:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .box img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
    }
    
    .box h3 {
        font-size: 24px;
        margin: 10px 0;
    }
    
    .box span {
        display: block;
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }
    
    .box i {
        color: #ffa500;
        font-size: 14px;
    }
    
    .btn, .details {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
    }
    
    .btn:hover, .details:hover {
        background-color: #0056b3;
    }
    
     
     */
     /* blog */
     .blog {
        padding: 30px 0;
        background-color:beige;
        text-align: center;
      
    }
    
    .heading {
        margin-bottom: 50px;
    }
    
    .heading span {
        font-size: 35px;
        font-weight: bold;
        color: #ff6f61;
    }
    
    .heading h2 {
        font-size: 25px;
        margin: 0.5rem 0;
    }
    
    
    
    .blog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .blog-box {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        width: 100%;
        max-width: 1200px;
        align-items: center;
    }
    
  
    
    .blog-content {
        flex: 1;
        padding: 40px;
        border: 1px solid #ddd;
        background-color: #fff;
        margin-left: 12px;
        margin-right:12px;
    }
    
    .blog-content h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .blog-content p {
        font-size: 15px;
        line-height: 1.6;
        margin: 0;
    }

    
    .card-image {
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin: 0 20px;
    }
    
    .box {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    @media (max-width: 992px) {
        .box {
            width: 45%;
        }
    }
    
    @media (max-width: 768px) {
        .box {
            width: 100%;
        }
    }
 /* faqs */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .faq{
   background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

.containerfaq{
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.containerfaq h1{
    color: #0c0b0b;
 
}
.containerfaq .tab{
    position: relative;
    background: #fff;
    padding: 0 20px 20px ;
    box-shadow: 0 15px 25px rgba(0, 0,0 ,0.05);
    border-radius: 5px;
    overflow: hidden;
}
.containerfaq .tab input{
    appearance: none;
}
.containerfaq .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.containerfaq .tab label::after{
    content: '+';
    position:absolute;
    right: 20px;
    font-size: 2em;
    color:rgba(0, 0,0 ,0.1);
    transition:transform 1s;
}
.containerfaq .tab:hover label::after{
    color:#333;
}
.containerfaq .tab input:checked ~ label::after{
    transform: rotate(135deg);
    color: #fff;
}
.containerfaq .tab label h2{
    width:40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.containerfaq .tab input:checked ~ label h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 9em;
    justify-content: flex-end;
    padding: 20px;
 
}
 

.containerfaq .tab label h3{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.containerfaq .tab input:checked ~ label h3{
    background: #fff;
    padding: 2px 10px;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0,0 ,0.05);
 
}
.containerfaq .tab .content{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
 
}
.containerfaq .tab input:checked ~ .content{
    max-height: 100vh;
}
.containerfaq .tab .content p{
    position: relative;
    padding: 10px 0;
    color: #f6f4f4;
    z-index: 10;
}
.containerfaq .tab input:checked ~ .content p{
    color: #fff;
    
}

/* footer */

    .footer {
        background-color: #333;
        color: #fff;
        padding: 5px 0; /* Adjusted padding to reduce footer height */
       /* Added margin-top to reduce space above the footer */
        height: 250px; /* Ensures footer adjusts its height based on content */
        min-height: 250px; /* Minimum height to ensure footer content fits */
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .footer-box {
        flex: 1 1 calc(25% - 30px); /* Adjusted flex calculation to account for margins */
        margin-bottom: 20px; /* Reduced margin-bottom for tighter spacing */
        padding: 0 15px;
    }
    
    .footer-box a {
        display: block;
        color: #fff;
        text-decoration: none;
        margin-bottom: 8px; /* Slightly reduced margin-bottom */
        transition: color 0.3s ease;
    }
    
    .footer-box a:hover {
        color: #ff6f61;
    }
    
    .footer-box h3 {
        font-size: 1.5rem;
        margin-bottom: 12px; /* Slightly reduced margin-bottom */
    }
    
    .copyright {
        background-color: #333;
        color: #fff;
        padding: 10px 0; /* Adjust padding as needed */
        text-align: center; /* Center-align the text */
        
    }
    
  

/* service */

  .Servicecontainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
 
    
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top:0px;
}

.bgImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-left: 5%; */
}


.form {
    width: 400px;
    background-color: white;
    padding: 20px;
}

.formcard {
    display: flex;
    justify-content: flex-start;
    background-color: dimgray;
    margin-left: 30px;
    padding: 20px; /* Add padding for better spacing */
    border-radius: 8px; /* Optional: Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}

.section-title {
    color: red;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-item {
    width: 48%;
}

.slds-m-top_medium {
    margin-top: 1rem;
}


  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 20px;
    padding-top: 20px;
    
}

.card-grid lightning-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0; /* Remove default padding */
    
}

.tips-card{
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    overflow: hidden; 
}
.tips-card:hover{
     transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.card-grid lightning-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire card */
    display: block; /* Ensures there is no extra space around the image */
    
}

.card-grid lightning-card .servicedescription {
    margin: 18px;

}



/* Contact Us Section Styles */
.contact-section {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-container {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.contact-heading {
    margin-bottom: 20px;
}

.contact-heading h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-heading p {
    font-size: 16px;
    line-height: 1.4;
    color: #ddd; /* Lighter text */
}

.contact-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.contact-info {
    flex: 1;
    padding-right: 20px;
}

.contact-item {
    margin-bottom: 15px;
}

.contact-item h3 {
    color: red;
    font-size: 18px;
}

.contact-item p, .contact-info a {
    font-size: 16px;
}

.contact-info a {
    color: #007bff; /* Link color */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    flex: 1;
    padding-left: 20px;
    background: transparent;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 100px;
    margin-right: 10px;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    flex: 1;
     width:50%; 
    padding: 8px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #222; /* Dark background for inputs */
    color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group textarea {
    resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.submit-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}


.Servicefooter {
    background-color: #333;
    color: #fff;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    
}

.left-content {
    text-align: left;
    margin-left: 40px;
}

.right-content {
    text-align: right;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-left: 10px; /* Adjust spacing between icons */
}

.social-icons li:first-child {
    margin-left: 0;
}

.social-icons li a img {
    width: 30px; /* Adjust the size of social media icons */
    height: 30px; /* Adjust the size of social media icons */
}

/* carspagecss */
.background-video-container {
    position: relative;
    /* margin-top:10px; */
    width: 100%;
    height: 80vh; /* Adjust the height as needed */
    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.normal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    .normal h1 {
        font-size:30px;
        color: red;
        margin: 0;
    }

    .normal p {
        font-size:20px;
        color: white;
        margin: 10px 0 0;
    }

.carClass {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
}

.light-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%; /* Adjust width as needed */
}

.content360 {
    max-width: 50%;
    padding: 20px;
}

.car-view-container {
    max-width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.car-view {
    cursor: grab;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-view img {
    max-width: 100%;
    height: auto;
}





.einstein-bot-container {
    position: fixed;
    bottom: 0;
    right: 0;
    /* Adjust height as needed */
    z-index: 1000; /* Ensure it's on top */
    background-color: white; /* Optional: Add background color */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add shadow for better visibility */
}
.background {
    background-color: black;
    color: white; /* Ensures text is readable against black background */
    align-items: center;
    width: 100vw;
}


.card-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure cards are in a single row */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical overflow */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on touch devices */
    width: 100%;
   /* Adjust the top margin to match the video height */
    padding: 20px;
}

.card-container::-webkit-scrollbar {
    display: none; /* Hide scroll bar in WebKit browsers */
}

.card-container {
    -ms-overflow-style: none; /* Hide scroll bar in Internet Explorer */
    scrollbar-width: none; /* Hide scroll bar in Firefox */
}

.card {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 300px;
    text-align: center;
    margin: 10px 10px;
    flex-shrink: 0; /* Prevent cards from shrinking */
}

.card:hover {
    transform: scale(1.05);
}

.card-image img {
    width: 100%;
    height: auto;
}

.card-details {
    padding: 15px;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.select-button, .booknow-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.select-button:hover, .booknow-button:hover {
    background-color: #cc0000;
}



.car-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100vw;
    margin: auto;
}

.car-section {
    width: 100vw;
    margin-bottom: 20px;
    display: flex;
}


.car-image-container {
    position: relative;
    width: 80vw;
}

.car-image {
    width: 100%;
    border-radius: 10px;
}
.description {
    width: 20vw;
    display: flex;
    align-items: flex-start; /* Align text to start */
    justify-content: center;
    padding-left: 30px;
    overflow: hidden;
    word-break: break-word;
}

.typewriter-text {
    font-size: 20px;
    font-weight: bold;
    white-space: pre-wrap; /* Prevents text from wrapping */
    overflow: hidden; /* Ensures the text is hidden until typed */
    position: relative; /* Ensure the cursor is positioned correctly */
    animation: typing 2s steps(50, end), blink-caret .75s step-end infinite;
    background-color: black;
    color: white;
}
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.buy-now {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.car-features {
    display: flex;
    justify-content: space-around;
    background: grey;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.info-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}
.info-item{
    margin: 0px 10px;
   
}
.car-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.color-options {
    display: flex;
    align-items: center;
}

.color-options label {
    font-size: 16px;
    margin-right: 10px;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
}

.color-circle.red {
    background: red;
}

.color-circle.blue {
    background: blue;
}

.color-circle.black {
    background: black;
}

.color-circle.white {
    background: white;
}
:host {
    display: block;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    width: 100vw;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 40px auto;
}

.text-section {
    flex: 1;
    padding: 40px;
}

.text-section h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.book-now,
.test-drive {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.book-now {
    background-color: #0056b3;
    color: white;
}

.test-drive {
    background-color: transparent;
    color: #0056b3;
    border: 2px solid #0056b3;
}

.image-section {
    flex: 1;
    position: relative;
}
.image-background {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    background-color: #cc0000;
    width: 25vw; /* Half of the viewport width */
    height: 100%; /* Full height of the image-section */
    z-index: -11;
}
.car-image{
    width: 100%;
    height: auto;
    z-index: 1;
}
.image-section  {
    width: 100%;
    height: auto;
    position: relative;
    flex: 1;
} .color-options {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}


/* login css */

.logincontainer {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-color: beige /* Dark semi-transparent background */
}
 
.slds-card_custom {
    background: transparent; /* Transparent background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}
 
.slds-p-around_medium {
    padding: 2rem;
}
 
.input-field1 {
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.2); /* Slightly transparent white background */
    border-radius: 5px; /* Rounded corners */
    padding: 0.5rem 1rem; /* Adjust padding for better appearance */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
 
.input-field1 input {
    background: transparent; /* Make input field transparent */
    border: none; /* Remove default border */
    width: 100%;
    color: black; /* Text color */
}
 
.input-field1 input::placeholder {
    color: rgba(0, 0, 0, 0.6); /* Placeholder text color */
}
 
.lightning-button {
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.75rem;
}
 
.error {
    color: red;
    margin-top: 1rem;
    font-weight: bold;
    text-align: center;
}
 
@media (max-width: 600px) {
    .slds-card_custom {
        max-width: 90%;
        padding: 1rem;
    }
}


/* get in touch */

.centered-containerG {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.slds-modal__container {
    width: 50%;
    max-width: 40rem;
    border-radius: 15px;
   
}
 
.slds-modal__header {
    padding: 10px;
    border-bottom: 1px solid #d8dde6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 
.slds-modal__footer{
    border-top: 1px solid #d8dde6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
  
}
.slds-backdrop {
    opacity: 0.6;
    animation: fadeInBackdrop 0.3s ease-in-out;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
 
@keyframes fadeInBackdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}